<!-- campusevents\templates\create_event.html -->
{% extends "base.html" %}
{% block title %}Create Event{% endblock %}
{% block content %}
  <h1>Create a New Event</h1>

  {% if message %}
    <p style="color:green">{{ message }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <label>Title:</label>
    <input type="text" name="title" required><br>

    <label>Description:</label>
    <textarea name="description" required></textarea><br>

    <label>Category:</label>
    <input type="text" name="category"><br>

    <label>Location:</label>
    <input type="text" name="location" required><br>

    <label>Start Time:</label>
    <input type="datetime-local" name="start_at" required><br>

    <label>End Time:</label>
    <input type="datetime-local" name="end_at" required><br>

    <label>Capacity:</label>
    <input type="number" name="capacity" min="0"><br>

    <label>Ticket Type:</label>
    <select name="ticket_type">
      <option value="free">Free</option>
      <option value="paid">Paid</option>
    </select><br>
    <button type="submit" class="btn" style="margin-top:10px;">Create Event</button>
  </form>
{% endblock %}
